<div class="layui-fluid height-main">
	<div class="layui-row layui-col-space15 height-main">
	    <div class="layui-col-md9 height-main" style="padding-top: 20px;">
	        <div class="left-main">
	        	<div class="modular">
	        		<div class="layui-row layui-col-space20 height-main">
					    <div class="layui-col-md3 height-main">
					        <div class="modular-com">
					        	<div class="layui-row">
								    <div class="layui-col-md4 text-align-right">
								    	<img src="../static/images/modular-1.png" class="modular-img"/>
								    </div>
								    <div class="layui-col-md8" >
								    	<div class="infos text-fr">
								    		<p class="counts-1">1233</p>
								    		<p class="count-info">总用户数</p>
								    	</div>
								    </div>
								</div>
					        </div>
					    </div>
					    <div class="layui-col-md3 height-main">
					        <div class="modular-com">
					        	<div class="layui-row">
								    <div class="layui-col-md4 text-align-right">
								    	<img src="../static/images/modular-2.png" class="modular-img"/>
								    </div>
								    <div class="layui-col-md8" >
								    	<div class="infos text-fr">
								    		<p class="counts-2">123</p>
								    		<p class="count-info">本年累计资格数</p>
								    	</div>
								    </div>
								</div>
					        </div>
					    </div>
					    <div class="layui-col-md3 height-main">
					        <div class="modular-com">
					        	<div class="layui-row">
								    <div class="layui-col-md4 text-align-right">
								    	<img src="../static/images/modular-3.png" class="modular-img"/>
								    </div>
								    <div class="layui-col-md8" >
								    	<div class="infos text-fr">
								    		<p class="counts-3">123</p>
								    		<p class="count-info">本年累计报销金额</p>
								    	</div>
								    </div>
								</div>
					        </div>
					    </div>
					    <div class="layui-col-md3 height-main">
					        <div class="modular-com">
					        	<div class="layui-row">
								    <div class="layui-col-md4 text-align-right">
								    	<img src="../static/images/modular-4.png" class="modular-img"/>
								    </div>
								    <div class="layui-col-md8" >
								    	<div class="infos text-fr">
								    		<p class="counts-4">1234</p>
								    		<p class="count-info">本日累计报销金额</p>
								    	</div>
								    </div>
								</div>
					        </div>
					    </div>
					</div>
	        	</div>
	        	<div class="echart">
	        		<div class="e-cont">
	        			<div class="title-my">月度统计</div>
	        			<div class="layui-tab layui-tab-brief mytab" lay-filter="homeTab">
						    <ul class="layui-tab-title">
							    <li class="layui-this">用户访问量</li>
						    </ul>
						    <div class="layui-tab-content">
							    <div class="layui-tab-item layui-show">
							    	<div id="chart1" style="width: 100%;height: 300px;"></div>
							    </div>
						    </div>
						</div>
	        		</div>
	        	</div>
	        </div>
	    </div>
	    <div class="layui-col-md3 height-main" style="padding-top: 20px;">
	        <div class="right-main">
	        	<div class="ranking">
	        		<div class="rank-cont">
	        			<div class="title-my">用户领券记录
	        				<form class="layui-form myform" action="">
		        				<div class="layui-form-item">
								    <div class="layui-input-inline">
								        <select name="interest" lay-filter="aihao">
								          	<option value="0" selected="">衣服</option>
								        	<option value="2">化妆品</option>
								        	<option value="3">男</option>
								          	<option value="1">女</option>
								        </select>
								    </div>
								</div>
							</form>
	        			</div>
	        			<ol id="rankUL" class="rank-ul">
	        				<li>
	        					<span class="no-wrap">贾文超</span>
	        					<span class="trend"> 领券一张 <img src="../static/images/ranking-1.png"/></span>
	        				</li>
	        				<li>
	        					<span class="no-wrap">王耀立</span>
	        					<span class="trend"> 领券一张 <img src="../static/images/ranking-1.png"/></span>
	        				</li>
	        				<li>
	        					<span class="no-wrap">伊可</span>
	        					<span class="trend"> 领券一张 <img src="../static/images/ranking-1.png"/></span>
	        				</li>
	        			</ol>
	        		</div>
	        	</div>
	        	<div class="agency">
	        		<div class="agency-cont">
	        			<div class="title-my">待办</div>
	        			<ul class="agency-ul">
	        				<li>&nbsp;&nbsp;&nbsp;&nbsp;用户随访任务
	        					<a href="javascript:;" data-tip="false" kit-target data-options="{url:'treatmentApply/secondApply/index',icon:'icon-fuchapinggu',title:'复查评估审核',id:'12',init:'SecondTreatmentApply.mgr.init()'}">
	        					<span>${fcNumber!} 待随访</span></a>
	        				</li>
	        			</ul>
	        		</div>
	        	</div>
	        </div>
	    </div>
    </div>
</div>
